.auth {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
    min-width: 230px;
}

.auth__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #828282;
    margin-bottom: 24px;
    padding: 0 0 6px;

    color: #828282;
}

.auth__check {
    padding: 0;
    color: #333333;
    position: relative;
    padding-left: 24px;
    margin-bottom: 110px;
}

.auth__check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.auth__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 4px;
    transform: translateY(-50%);
}

.auth__checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 7px;
    border: solid #E5261E;
    border-width: 0 1px 1px 0;
    transform: translate(-50%, -50%)rotate(45deg);
}

.auth__check input:checked ~ .auth__checkmark:after {
    display: block;
}

.form__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #333333;
    margin-bottom: 24px;
}